
html,body {
    box-sizing: border-box;
}
*, *:before, *:after { box-sizing: inherit; }


html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin: 0;
    /* min-height is needed for pages that might scroll, ie they may contain _more_ than 100% of viewport height */
    min-height: 100%;
    /* needed to prevent unwanted scroll-bars */
    padding: 0;
}

button {
    background: #dddddd;
    border: 1px solid #eeeeee;
    cursor: pointer;
    padding: 0;
}

hr {
    margin: 10px 0;
    height: 1px;
    border: 0;
    background-color: #ccc;
}

#outer {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    /* Set block height using the viewport height unit, and force it to be full height, even if the containing content does not require it */
    min-height: 100vh;
    /* center this block for larger viewports */
    margin: 0;
    /* Use min-width to prevent your design from being scrunched up in tiny viewports (and instead be replaced with horizontal scroll bars)
    */
    min-width: 18.75em;
}
#lmap {
    width: 100%;
    padding: 0;
    flex: 1;
}

#exportpopup {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    background: rgba(255,255,255,.75);
    padding: 8px;
    font-size: 24px;
    border-radius: 6px;
    transform: translateX(-50%);
    border: 1px solid white;
    display: none;
}

#infopopup {
    position: absolute;
    z-index: 20;
    bottom: 30px;
    left: 10%;
    width: 80%;
    background: rgba(255,255,255,.75);
    padding: 8px;
    font-size: 24px;
    border-radius: 6px;
    border: 1px solid white;
    cursor: pointer;
}

#trailinfotext {
    font-size: 18px;
    padding: 8px;
}

#trailentrance {
    font-size: 18px;
    padding: 8px;
}

#routewindow {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 5;
    padding: 8px 2px;
    width: 100%;
    background: rgba(255,255,255,.75);
}

.topButton {
    background: rgba(255, 255, 255, .8);
    padding: 12px;
    margin-right: 10px;
    margin-top: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 30px;
}

@media screen and (max-width:600px) {
    .topButton {
        background: rgba(255, 255, 255, .8);
        padding: 12px;
        margin-right: 10px;
        margin-top: 4px;
        font-size: 28px;
        cursor: pointer;
        width: 80px;
        height: 80px;
        border: 1px solid black;
        border-radius: 40px;
    }
}

.bottomButton {
    background: #dddddd;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-top: none;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
}

.leftButton {
    background: #dddddd;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.ctxMenu {
    background: rgba(255,255,255,.9);
    border-right: 1px solid black;
    height: 100%;
    z-index: 10;
    position: fixed;
    right: 0;
    top: 0;
    font-size: 20px;
}

.shadowed {
    box-shadow: 0 0 6px #2b2b2b;
}

.hasInnerScroller {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.scrollerWrapper {
    display: flex;
    min-height: 0px;
}

.scrollingContent {
    z-index: 1;
    flex: 1;
    overflow-y: scroll;
}

.ctxMenuHeader {
    font-size: 28px;
    font-weight: bold;
    padding: 16px 100px 16px 16px;
    border-bottom: 1px solid gray;
}

.ctxSubHeader {
    text-align: center;
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
}

.ctxBody {
    padding: 8px;
    flex: 1;
    overflow-y: auto;
}

.ctxEntryFirst {
    border-top: 1px solid black;
}

.ctxEntry {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    box-sizing: border-box;
}

.ctxEntryIcon {
    cursor:pointer;
    font-size: 30px;
    padding-right: 20px;
}

.ctxCloseBtn {
    background: transparent;
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 40px;
    border: none;
    float: right;
    cursor: pointer;
}

.chartBtn {
    position: absolute;
    right: 2px;
    top: 1px;
    z-index: 10;
    font-size: 30px;
    border: none;
    border-right: none;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 0 0 0 6px;
    border-top: none;
    background: rgba(150, 150, 150, .7);
    cursor: pointer;
}

.title-label {
    position: absolute;
    width:auto;
    font-size:14px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


@media only screen and (max-width: 600px) {
    .windowheader {
        font-size: 34px;
        padding: 12px 8px;
        border-bottom: 1px solid gray;
        background: white;
    }
    .infotext {
        padding: 8px;
    }
    #trailchart {
        width: 100%;
        height: 300px;
        background: #dddddd;
    }
    .windowed {
        font-size: 18px;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #fbfbff;
    }
    #trailfacts {
        padding: 8px;
        font-weight: bold;
        font-size: 18px;
    }
    #trailmap {
        height: 380px;
    }
    .trailinfosection {
        width: 100%;
        padding: 10px;
    }
}
@media only screen and (min-width: 601px) {
    .windowheader {
        font-size: 36px;
        padding: 5px 8px;
        border-bottom: 1px solid gray;
        margin-bottom: 6px;
        background: white;
    }
    .infotext {
        font-size: 18px;
        padding-bottom: 40px;
    }
    #trailchart {
        margin: 5px;
        flex: 1;
        height: 300px;
        background: #dddddd;
    }
    .windowed {
        position: fixed;
        left: 50%;
        width: 1100px;
        height: 100%;
        margin-left: -544px;
        top: 0px;
        /*left: 0px;*/
        padding-left: 12px;
        background: #fbfbff;
    }
    #trailfacts {
        padding: 8px;
        font-weight: bold;
    }
    #trailmap {
        margin: 5px;
        flex: 1;
        height: 300px;
    }
    .trailinfosection {
        flex: 1;
        padding: 10px 0;
    }
}
